nojs-toggle {
    display: block;
    background: #efefef;
}
nojs-toggle label { 
    display: block;
    pointer-events:none;
}
nojs-toggle .toggle-title {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background: #ccc;
    padding: 0.5rem;
    pointer-events: all;
}
nojs-toggle .toggle-flag {
    display: none;
}
nojs-toggle .toggle-pane {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
    padding: 0;
}
nojs-toggle .toggle-inner-pane {
    padding: 0.5rem;
}
nojs-toggle .toggle-flag:checked + .toggle-pane {
    max-height: 446px; /*This value is dynamic to your context, you'll need to measure it or guess for dyanmic content, it will impact the transition animation if you are off*/
}